<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script>
    function timedRefresh() {
        var currentContent = document.getElementById("message_content").value;
        window.location.href=window.location.pathname+"?"+"content="+currentContent;
        location.reload(true);
    }
    setTimeout(function(){window.onload = timedRefresh();},30000);
</script>

<div class="container">
  <h1>MysteryRandoChat.io</h1>
  <h2>Conversation with <%= @conversation.user1 %></h2>

  <div class="row">
    <div class="col-lg">
      <h3>Message History</h3>
      <% if @conversation.messages %>
        <% @conversation.messages.each do |message| %>
          <strong><%= message[:from] %> to <%= message[:to] %></strong><br>
          <% if @conversation[:display_html?] %>
            <%= raw message.content %><br>
          <% else %>
            <%= message.content %><br>
          <% end %>
          <br>
        <% end %>
      <% end %>
    </div>
    <div class="col-2">
      <div class="row">
        <%= button_to "Clear Message History", conversation_clear_history_path(@conversation) %>
      </div>
      <div class="row">
        <%= button_to "Enable/Disable Embedded Images", conversation_display_elements_path(@conversation) %>
      </div>
    </div>
  </div>

  <div class="row">
    <h3>Send New Message</h3>
  </div>
  <div class="row">
    <%= form_with(model: [ @conversation, @conversation.messages.build ], local: true) do |form| %>
      <p>
        <%= form.hidden_field :to, value: @conversation[:user1] %>
        <%= form.hidden_field :from, value: @conversation[:user2] %>
        <%= form.hidden_field :user_generated, value: true %>
        <%= form.text_area :content , value: params[:content], rows: 10, cols: 100, class: "col-lg-auto",style: "min-width: 100%" %><br>
        <%= form.submit %>
      </p>
    <% end %>
  </div>

</div>
